.login-container{
        background-color:#026abc;
        padding:10px;
        height: 100vh;
        text-align:center;
        display:flex;
        align-items: center;
        .wrapper{
            
            h1{
                font-family: 'Lato', sans-serif;
                color:#f1f1f1;
                font-weight: 500;
                
                #skinny{
                    font-weight: 200;
                }
            }
            .login-form{

                .input-wrapper{
                    margin:20px;
                    label{
                        font-size:17px;
                        font-weight:300;
                        color:#f1f1f1;
                        margin-right:50px;
                    }
                    input{
                        background-color: #026abc;
                        border: 2px solid #f1f1f1;
                        border-radius: 4px;
                        color:#f1f1f1;
                    }
                }
            }
            p{
                margin-top:15px;
                color:#f1f1f1;
                a{
                    text-decoration: none;
                    color:inherit;
                    &hover{
                        text-decoration: none;
                        cursor:pointer;
                    }
                }
            }
            .login-button{
                background-color: #f1f1f1;         
                width:40%;
                position:relative;
                margin:auto;
                height:30px;
                border-radius:4px;
                text-align:center;
                &:hover{
                    cursor:pointer;

                }
                span{
                    color: #026abc; 
                    transform: translateY(10%);
                    font-size:20px;
                }
            }
        }
}
